Repository ngRevan/eventhub-client: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, tslint --fix

.lintstagedrc.json:

{
  "*.{md,html}": ["prettier --write", "git add"],
  "*.scss": ["prettier --write", "stylelint --fix", "git add"],
  "*.ts": ["prettier --write", "tslint --fix", "git add"]
}

Added launch.json settings
  .vscode/launch.json
  package-lock.json
Due: none

added navigation component
  src/app/app.module.ts
  src/app/containers/navigation/navigation.component.html
  src/app/containers/navigation/navigation.component.scss
  src/app/containers/navigation/navigation.component.ts
  src/app/containers/site-template/site-template.component.html
  src/app/containers/site-template/site-template.component.scss
  src/app/shared/shared.module.ts
Due: prettier --write, stylelint --fix, tslint --fix

fix: authentication guard authorized triggered multiple times
  src/app/guards/authorized.guard.ts
Due: prettier --write, tslint --fix

added event.service
  src/app/core/models/event.model.ts
  src/app/core/services/event.service.ts
  src/environments/environment.ts
Due: prettier --write, tslint --fix

Create and update event
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/event-form/event-form.component.html
  src/app/components/event-form/event-form.component.scss
  src/app/components/event-form/event-form.component.ts
  src/app/containers/event-details-page/event-details-page.component.html
  src/app/containers/event-details-page/event-details-page.component.scss
  src/app/containers/event-details-page/event-details-page.component.ts
  src/app/containers/navigation/navigation.component.html
  src/app/containers/navigation/navigation.component.ts
  src/app/core/services/event.service.ts
  src/app/shared/shared.module.ts
Due: prettier --write, stylelint --fix, tslint --fix

splited create and update
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/event-form/event-form.component.ts
  src/app/containers/event-create-page/event-create-page.component.html
  src/app/containers/event-create-page/event-create-page.component.scss
  src/app/containers/event-create-page/event-create-page.component.ts
  src/app/containers/event-details-page/event-details-page.component.html
  src/app/containers/event-details-page/event-details-page.component.ts
  src/app/core/services/event.service.ts
Due: prettier --write, stylelint --fix, tslint --fix

Added AuthInterceptor
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/event-form/event-form.component.ts
  src/app/containers/event-create-page/event-create-page.component.ts
  src/app/containers/event-details-page/event-details-page.component.html
  src/app/containers/event-details-page/event-details-page.component.ts
  src/app/containers/navigation/navigation.component.html
  src/app/containers/navigation/navigation.component.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/models/event-view.ts
  src/app/core/services/event.service.ts
Due: prettier --write, tslint --fix

Moved create component to dialog
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/event-dialog-create/event-dialog-create.component.html
  src/app/components/event-dialog-create/event-dialog-create.component.scss
  src/app/components/event-dialog-create/event-dialog-create.component.ts
  src/app/components/event-dialog-update/event-dialog-update.component.html
  src/app/components/event-dialog-update/event-dialog-update.component.scss
  src/app/components/event-dialog-update/event-dialog-update.component.ts
  src/app/components/event-form/event-form.component.html
  src/app/components/event-form/event-form.component.scss
  src/app/components/event-form/event-form.component.ts
  src/app/containers/event-create-page/event-create-page.component.html
  src/app/containers/event-create-page/event-create-page.component.ts
  src/app/containers/event-details-page/event-details-page.component.html
  src/app/containers/event-details-page/event-details-page.component.ts
  src/app/containers/navigation/navigation.component.html
  src/app/containers/navigation/navigation.component.ts
  src/app/core/services/event.service.ts
  src/app/shared/shared.module.ts
Due: prettier --write, stylelint --fix, tslint --fix

removed form from event-details
  src/app/containers/event-details-page/event-details-page.component.html
  src/app/containers/event-details-page/event-details-page.component.scss
  src/app/containers/event-details-page/event-details-page.component.ts
  src/app/shared/shared.module.ts
Due: prettier --write, stylelint --fix, tslint --fix

updated angular cli and core
  package-lock.json
  package.json
Due: none

BugFix: EventDetails reloading events
  src/app/components/event-dialog-create/event-dialog-create.component.ts
  src/app/components/event-dialog-update/event-dialog-update.component.html
  src/app/containers/event-details-page/event-details-page.component.html
  src/app/containers/event-details-page/event-details-page.component.ts
Due: prettier --write, tslint --fix

Added event-template
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/event-view/event-view.component.html
  src/app/components/event-view/event-view.component.scss
  src/app/components/event-view/event-view.component.ts
  src/app/containers/event-chat-page/event-chat-page.component.html
  src/app/containers/event-chat-page/event-chat-page.component.scss
  src/app/containers/event-chat-page/event-chat-page.component.ts
  src/app/containers/event-details-page/event-details-page.component.html
  src/app/containers/event-details-page/event-details-page.component.ts
  src/app/containers/event-members-page/event-members-page.component.html
  src/app/containers/event-members-page/event-members-page.component.scss
  src/app/containers/event-members-page/event-members-page.component.ts
  src/app/containers/event-resources-page/event-resources-page.component.html
  src/app/containers/event-resources-page/event-resources-page.component.scss
  src/app/containers/event-resources-page/event-resources-page.component.ts
  src/app/containers/event-template/event-template.component.html
  src/app/containers/event-template/event-template.component.scss
  src/app/containers/event-template/event-template.component.ts
  src/app/shared/shared.module.ts
  src/styles/_flex.scss
  src/styles/styles.scss
Due: prettier --write, stylelint --fix, tslint --fix

added delete method
  src/app/components/event-dialog-update/event-dialog-update.component.ts
  src/app/components/event-view/event-view.component.html
  src/app/containers/event-template/event-template.component.html
  src/app/containers/event-template/event-template.component.scss
  src/app/containers/event-template/event-template.component.ts
Due: prettier --write, stylelint --fix, tslint --fix

Merged PR 7: Added event: create, view, delete
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/event-dialog-create/event-dialog-create.component.html
  src/app/components/event-dialog-create/event-dialog-create.component.scss
  src/app/components/event-dialog-create/event-dialog-create.component.ts
  src/app/components/event-dialog-update/event-dialog-update.component.html
  src/app/components/event-dialog-update/event-dialog-update.component.scss
  src/app/components/event-dialog-update/event-dialog-update.component.ts
  src/app/components/event-form/event-form.component.html
  src/app/components/event-form/event-form.component.scss
  src/app/components/event-form/event-form.component.ts
  src/app/components/event-view/event-view.component.html
  src/app/components/event-view/event-view.component.scss
  src/app/components/event-view/event-view.component.ts
  src/app/containers/event-chat-page/event-chat-page.component.html
  src/app/containers/event-chat-page/event-chat-page.component.scss
  src/app/containers/event-chat-page/event-chat-page.component.ts
  src/app/containers/event-details-page/event-details-page.component.html
  src/app/containers/event-details-page/event-details-page.component.scss
  src/app/containers/event-details-page/event-details-page.component.ts
  src/app/containers/event-members-page/event-members-page.component.html
  src/app/containers/event-members-page/event-members-page.component.scss
  src/app/containers/event-members-page/event-members-page.component.ts
  src/app/containers/event-resources-page/event-resources-page.component.html
  src/app/containers/event-resources-page/event-resources-page.component.scss
  src/app/containers/event-resources-page/event-resources-page.component.ts
  src/app/containers/event-template/event-template.component.html
  src/app/containers/event-template/event-template.component.scss
  src/app/containers/event-template/event-template.component.ts
  src/app/containers/navigation/navigation.component.html
  src/app/containers/navigation/navigation.component.ts
  src/app/core/interceptors/auth.interceptor.ts
  src/app/core/models/event-view.ts
  src/app/core/services/event.service.ts
  src/app/shared/shared.module.ts
  src/environments/environment.ts
  src/styles/_flex.scss
  src/styles/styles.scss
Due: prettier --write, stylelint --fix, tslint --fix

add docker-config
  Dockerfile
  docker.ignore
Due: none

Initial version of chat / Refactoring
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/event-dialog-create/event-dialog-create.component.html
  src/app/components/event-dialog-update/event-dialog-update.component.html
  src/app/components/event-form/event-form.component.html
  src/app/components/event-form/event-form.component.ts
  src/app/components/message-entry/message-entry.component.html
  src/app/components/message-entry/message-entry.component.scss
  src/app/components/message-entry/message-entry.component.ts
  src/app/components/message-form/message-form.component.html
  src/app/components/message-form/message-form.component.scss
  src/app/components/message-form/message-form.component.ts
  src/app/components/message-list/message-list.component.html
  src/app/components/message-list/message-list.component.scss
  src/app/components/message-list/message-list.component.ts
  src/app/containers/event-chat-page/event-chat-page.component.html
  src/app/containers/event-chat-page/event-chat-page.component.scss
  src/app/containers/event-chat-page/event-chat-page.component.ts
  src/app/containers/event-details-page/event-details-page.component.ts
  src/app/containers/event-dialog-create/event-dialog-create.component.html
  src/app/containers/event-dialog-create/event-dialog-create.component.scss
  src/app/containers/event-dialog-create/event-dialog-create.component.ts
  src/app/containers/event-dialog-update/event-dialog-update.component.html
  src/app/containers/event-dialog-update/event-dialog-update.component.scss
  src/app/containers/event-dialog-update/event-dialog-update.component.ts
  src/app/containers/event-template/event-template.component.html
  src/app/containers/event-template/event-template.component.scss
  src/app/containers/event-template/event-template.component.ts
  src/app/containers/navigation/navigation.component.ts
  src/app/core/models/message-view.ts
  src/app/core/models/paged-list-result.ts
  src/app/core/services/chat-hub.service.ts
  src/app/core/services/event.service.ts
  src/app/shared/shared.module.ts
  src/environments/environment.ts
  tsconfig.json
  tslint.json
Due: prettier --write, stylelint --fix, tslint --fix

Added some message styling
  .gitignore
  .vscode/launch.json
  package-lock.json
  src/app/core/models/message-view.ts
  src/app/events/components/message-entry/message-entry.component.html
  src/app/events/components/message-entry/message-entry.component.scss
  src/app/events/components/message-entry/message-entry.component.ts
  src/app/events/components/message-form/message-form.component.html
  src/app/events/components/message-list/message-list.component.html
  src/app/events/components/message-list/message-list.component.ts
  src/app/events/containers/event-chat-page/event-chat-page.component.html
  src/app/events/containers/event-chat-page/event-chat-page.component.ts
  src/styles/_flex.scss
Due: prettier --write, stylelint --fix, tslint --fix

refactoring color schema
  src/app/events/components/message-entry/message-entry.component.scss
  src/app/events/containers/event-chat-page/event-chat-page.component.ts
Due: prettier --write, stylelint --fix, tslint --fix

css cleanup
  src/app/events/components/message-entry/message-entry.component.scss
  src/app/events/components/message-form/message-form.component.html
  src/app/events/components/message-form/message-form.component.scss
  src/app/events/containers/event-chat-page/event-chat-page.component.html
  src/app/events/containers/event-chat-page/event-chat-page.component.scss
Due: prettier --write, stylelint --fix

Integrate Ngrx
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/containers/site-template/site-template.component.html
  src/app/core/services/chat-hub.service.ts
  src/app/core/services/event.service.ts
  src/app/events/actions/chat.actions.ts
  src/app/events/actions/event.actions.ts
  src/app/events/actions/index.ts
  src/app/events/components/event-form/event-form.component.html
  src/app/events/components/event-form/event-form.component.ts
  src/app/events/containers/event-chat-page/event-chat-page.component.ts
  src/app/events/containers/event-details-page/event-details-page.component.ts
  src/app/events/containers/event-dialog-create/event-dialog-create.component.ts
  src/app/events/containers/event-dialog-update/event-dialog-update.component.html
  src/app/events/containers/event-dialog-update/event-dialog-update.component.ts
  src/app/events/containers/event-template/event-template.component.ts
  src/app/events/containers/navigation/navigation.component.html
  src/app/events/containers/navigation/navigation.component.scss
  src/app/events/containers/navigation/navigation.component.ts
  src/app/events/effects/chat.effects.ts
  src/app/events/effects/event.effects.ts
  src/app/events/events-routing.module.ts
  src/app/events/events.module.ts
  src/app/events/guards/event-exists.guard.ts
  src/app/events/guards/is-member.guard.ts
  src/app/events/reducers/chat.reducer.ts
  src/app/events/reducers/event.reducer.ts
  src/app/events/reducers/index.ts
  src/app/guards/redirect-authorized.guard.ts
Due: prettier --write, stylelint --fix, tslint --fix

Rename event date range properties
  src/app/core/models/event-view.ts
  src/app/events/components/event-form/event-form.component.html
  src/app/events/components/event-form/event-form.component.ts
  src/app/events/components/event-view/event-view.component.html
Due: prettier --write, tslint --fix

Prevent chat messages from flipping over when signing out
  src/app/events/containers/event-chat-page/event-chat-page.component.ts
Due: prettier --write, tslint --fix

Tried to add EventMember store
  src/app/core/models/event-member-view.ts
  src/app/core/services/event-member.service.ts
  src/app/events/actions/event-member.actions.ts
  src/app/events/actions/index.ts
  src/app/events/containers/event-members-page/event-members-page.component.html
  src/app/events/containers/event-members-page/event-members-page.component.ts
  src/app/events/effects/event-member.effects.ts
  src/app/events/reducers/event-member.reducer.ts
  src/app/events/reducers/index.ts
Due: prettier --write, tslint --fix

Added EventMemberEffects to the Module, thanks D.
  src/app/events/actions/event-member.actions.ts
  src/app/events/events.module.ts
  src/app/events/reducers/event-member.reducer.ts
Due: prettier --write, tslint --fix

Added some stupid layout
  src/app/events/containers/event-members-page/event-members-page.component.html
  src/app/events/containers/event-members-page/event-members-page.component.scss
  src/app/events/containers/event-members-page/event-members-page.component.ts
  src/app/events/reducers/event-member.reducer.ts
  src/app/events/reducers/index.ts
  src/app/shared/shared.module.ts
Due: prettier --write, stylelint --fix, tslint --fix

Added event-dialog-join
  src/app/core/services/event.service.ts
  src/app/events/actions/event.actions.ts
  src/app/events/containers/event-dialog-join/event-dialog-join.component.html
  src/app/events/containers/event-dialog-join/event-dialog-join.component.scss
  src/app/events/containers/event-dialog-join/event-dialog-join.component.ts
  src/app/events/containers/event-members-page/event-members-page.component.html
  src/app/events/containers/navigation/navigation.component.html
  src/app/events/containers/navigation/navigation.component.ts
  src/app/events/effects/event.effects.ts
  src/app/events/events.module.ts
  src/app/events/reducers/event.reducer.ts
  src/app/events/reducers/index.ts
Due: prettier --write, stylelint --fix, tslint --fix

Added join event funtionality
  src/app/core/services/event.service.ts
  src/app/events/actions/event.actions.ts
  src/app/events/containers/event-dialog-join/event-dialog-join.component.html
  src/app/events/containers/event-dialog-join/event-dialog-join.component.ts
  src/app/events/effects/event.effects.ts
  src/app/events/reducers/event.reducer.ts
Due: prettier --write, tslint --fix

Added leave event
  src/app/core/services/event.service.ts
  src/app/events/actions/event.actions.ts
  src/app/events/containers/event-template/event-template.component.html
  src/app/events/containers/event-template/event-template.component.ts
  src/app/events/effects/event.effects.ts
  src/app/events/reducers/event.reducer.ts
Due: prettier --write, tslint --fix

changed redirect for a join event
  src/app/events/actions/event.actions.ts
  src/app/events/effects/event.effects.ts
Due: prettier --write, tslint --fix

Splited the members event list into current and past
  src/app/events/components/event-member-list/event-member-list.component.html
  src/app/events/components/event-member-list/event-member-list.component.scss
  src/app/events/components/event-member-list/event-member-list.component.ts
  src/app/events/components/message-entry/message-entry.component.ts
  src/app/events/containers/event-chat-page/event-chat-page.component.ts
  src/app/events/containers/event-members-page/event-members-page.component.html
  src/app/events/containers/event-members-page/event-members-page.component.ts
  src/app/events/containers/event-template/event-template.component.html
  src/app/events/containers/event-template/event-template.component.ts
  src/app/events/containers/navigation/navigation.component.html
  src/app/events/containers/navigation/navigation.component.ts
  src/app/events/events.module.ts
Due: prettier --write, stylelint --fix, tslint --fix

Add docker configuration
  .dockerignore
  Dockerfile
  angular.json
  docker/nginx.conf
  src/app/app.module.ts
  src/environments/environment.prod.ts
  ssl/eventhub.ch.crt
  ssl/eventhub.ch.key
  ssl/localhost.crt
  ssl/localhost.key
Due: prettier --write, tslint --fix

Run nginx only for http
  Dockerfile
  angular.json
  docker/nginx.conf
Due: none

simple refactorings navigation
  src/app/events/containers/navigation/navigation.component.ts
Due: prettier --write, tslint --fix

Added @microsoft/signalr-protocol-msgpack
  package-lock.json
  package.json
  src/app/core/services/chat-hub.service.ts
  src/index.html
  src/polyfills.ts
Due: prettier --write, tslint --fix

Use moment date adapter
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/core/core.module.ts
  tsconfig.json
Due: prettier --write, tslint --fix

updated readme.md
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Remove paging for event messages
  package-lock.json
  package.json
  src/app/core/models/paged-list-result.ts
  src/app/core/services/event.service.ts
  src/app/events/actions/chat.actions.ts
  src/app/events/containers/event-chat-page/event-chat-page.component.ts
  src/app/events/effects/chat.effects.ts
  src/app/events/reducers/chat.reducer.ts
Due: prettier --write, tslint --fix

Use location origin for redirects
  src/app/app.module.ts
Due: prettier --write, tslint --fix
